*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/build
*/build
*/gen
*/bin
/libraries/**/build
/libraries/**/.classpath
/libraries/**/.project
/libraries/**/.settings
/libraries/**/gen
/libraries/**/bin
gradle/wrapper/gradle-wrapper.properties
